.flexbox-header {
    display: flex;
    background-color: lavender;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexbox-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: lavender;
}

.flexbox-item {
    width: 300px;
    margin: 10px;
    /*border: 1px solid snow;*/
    background-color: lavender;
}

.flexbox-item-1 {
    min-width: 200px;

}

.flexbox-item-2{
    min-width: 200px;
    flex-shrink: 0;
    align-self: center;
}

.flexbox-item-x{
    min-width: 35em;
}

hr.solid {
    border-top: 1px solid #1C1C1C;
}

hr.rounded {
    border-top: 5px solid white;
    border-bottom: 1px solid white;
    border-radius: 3px;
    opacity: .5;
}

h1 {
    font-size: 40px;
    font-family: Didot, serif;
    font-weight: 100;
}

h3 {
    font-family: Andale Mono, monospace;
    font-size: 1.5em;
    font-weight: 550;
    text-align: center;
}

p, ul {
    font-size: 1.2em;
    font-family: monospace;
}

li {
    list-style-type: none;
}

a {
    border: none;
    color: hotpink;
}

a:link {
    text-decoration: none;
}

a:hover {
    border: none;
    color: deeppink;
    background-color: white;
}